{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>MyFLq source files</h1>
<h2>Webapp and commandline program</h2>
<p>
  <a href="https://github.com/beukueb/myflq/archive/latest.zip" %}>MyFLqApp.zip</a>
</p>
<p>The archive contains all files to run this application locally. In the top directory are the commandline programs that are also used by the web app. To run the web app, be sure to install the dependencies mentioned in the README.</p>

<h2>Articles</h2>
<p>
<table>
<tr><td>
Pre-MyFLq STR paper: </td><td><a href="http://dx.doi.org/10.1016/j.fsigen.2012.03.004">http://dx.doi.org/10.1016/j.fsigen.2012.03.004</a></td></tr>
<tr><td>
MyFLq framework paper: </td><td><a href="http://dx.doi.org/10.1016/j.fsigen.2013.10.012">http://dx.doi.org/10.1016/j.fsigen.2013.10.012</a></td></tr>
<tr><td>
MyFLq application
paper: </td><td><a href="http://dx.doi.org/10.1016/j.fsigen.2014.10.006">http://dx.doi.org/10.1016/j.fsigen.2014.10.006</a></td></tr>
<tr><td>
FLAD paper: </td><td><a href="http://dx.doi.org/10.1016/j.fsigen.2015.09.006">http://dx.doi.org/10.1016/j.fsigen.2015.09.006</a></td></tr>
</table>
</p>

<h2>Example files</h2>
<p>
<table>
<tr><td width="100">
<a href="{% static 'sources/example_loci.csv' %}">Loci</a></td><td>
This file contains the primers for 16 commonly used loci. If you require the same set you can use it without altering, otherwise it can serve as an example of how the file should look.</td></tr>
<tr><td width="100">
    <a href="{% static 'sources/example_alleles.csv' %}">Alleles</a></td><td>
This file contains the alleles that were present in the individuals of the samples used for the MyFLq paper. It can serve as an example to build your own allele databank file for use with MyFLq.</tr></td>
</table>
</p>

{% endblock %}
