{% extends "base.html" %}
{% load staticfiles %}

{% block title %}FLAD{% endblock %}

{% block header %}
<div id="header-title" style="background-image: url('{% static 'images/FLADLogo.png' %}');background-position: 25px 25px;background-size: 90px;">
  <h1>Forensic Loci Allele Database</h1>
  <h2>Permanent references for forensic STR and SNP alleles</h2>
</div>
{% endblock %}

{% block content %}
 {% block fladcontent %}
 {% endblock %}

<h3>{% block flatquery %}Query{% endblock %}</h3>

<table>
  <tr><td colspan="2" style="color: #50ade5;">Retrieve</td></tr>
  <tr>
    <td>Sequence</td><td><input type="text" id="input_sequence" /></td>
    <td><input type="submit" value="Get FLADid" style="width:12em;"  onclick="window.location = window.location.origin + '/flad/getid/' + document.getElementById('input_sequence').value;" /></td>
  </tr>
  <tr>
    <td>FLADid</td><td><input type="text" id="input_fladid" /></td>
    <td><input type="submit" value="Get sequence" style="width:12em;" onclick="window.location = window.location.origin + '/flad/getseq/' + document.getElementById('input_fladid').value;" /></td>
  </tr>
  <tr height="20px;"></tr>
  <tr><td colspan="2" style="color: #50ade5;">Validation (registration required)</td></tr>
  <tr>
    <td>Sequence</td><td><input type="text" id="valid_sequence" /></td>
    <td><input type="submit" value="Validate" style="width:12em;" onclick="window.location = window.location.origin + '/flad/validate/' + document.getElementById('valid_sequence').value;" /></td>
  </tr>
  <tr>
    <td>Seq or FLADid</td><td><input type="text" id="unvalid_input" /></td>
    <td><input type="submit" value="Unvalidate" style="width:12em;" onclick="window.location = window.location.origin + '/flad/unvalidate/' + document.getElementById('unvalid_input').value;" /></td>
  </tr>
</table>

{% endblock %}
