{% extends "flad/base.html" %}
{% load staticfiles %}

{% block content %}
<h3>Programmatory access</h3>
<h4>Retrieve sequence with a FLADid</h4>
<code>https://forensic.ugent.be/flad/sequence/xml/{FLADid}</code>
<p>Example: <code>https://forensic.ugent.be/flad/sequence/xml/FA001</code></p>

<h4>Retrieve FLADid with a sequence</h4>
<code>https://forensic.ugent.be/flad/getid/xml/{sequence}</code>
<p>Example: <code>https://forensic.ugent.be/flad/getid/xml/ACTGACTAGACATGCGAC</code></p>

<h4>Retrieve FLADid with a sequence (add sequence to database if not present already)</h4>
<code>https://forensic.ugent.be/flad/getid/xml/{sequence}?user={username}&password={password}</code>
<p>Example: <code>https://forensic.ugent.be/flad/getid/xml/ACTGACTAGACATGCGAC?user=jeffreys&password=1984</code></p>

<h4>Plain text instead of xml</h4>
<p>To get a simple byte string back consisting only of the requested information, use 'plain' instead of 'xml'. In this case, when providing a FLADid to retrieve a sequence, only the sequence present in the database will be send back and not its complementary strand</p>
<p>Example: <code>https://forensic.ugent.be/flad/getid/plain/ACTGACTAGACATGCGAC?user=jeffreys&password=1984</code></p>
{% endblock %}




