{% extends "flad/base.html" %}
{% load staticfiles %}

{% block content %}
<style>
  h4 {color: #50ade5;}
  code,p {padding-left:20px;}
</style>

<h3>Programmatory access</h3>
<h4>Retrieve sequence with a FLADid</h4>
<code>https://forensic.ugent.be/flad/getseq/xml/{FLADid}</code>
<p>Example: <code>https://forensic.ugent.be/flad/getseq/xml/FA001</code></p>

<h4>Retrieve FLADid with a sequence</h4>
<code>https://forensic.ugent.be/flad/getid/xml/[{locus}/]{sequence}[?user={username}&password={password}]</code>
<p>Authorization is optional but necessary if the sequence needs to be added to the database.<br />
  Example: <br />
  <code>https://forensic.ugent.be/flad/getid/xml/FGA/ACTGACTAGACATGCGAC</code>
</p>

<h4>Validate sequence</h4>
<code>https://forensic.ugent.be/flad/getid/xml/validate/[{locus}/]{sequence}?user={username}&password={password}&doi={doi}</code>
<p>Example:<br />
  <code>https://forensic.ugent.be/flad/validate/xml/FGA/ACTGGACGAC?user=jeffreys&password=1984&doi=10.1038/314067a0</code>
</p>

<h4>Plain text instead of xml</h4>
<p>To get a simple byte string back consisting only of the requested information, use 'plain' instead of 'xml'. In this case, when providing a FLADid to retrieve a sequence, only the sequence present in the database will be send back and not its complementary strand.</p>
<p>Example: <code>https://forensic.ugent.be/flad/getid/plain/FGA/ACTGACTAGACATGCGAC</code></p>

<h4>Testing</h4>
<p>For development and experimenting there is a parallel testing service FLAX. The API is identical, except that 'flad' needs to be replaced with 'flax' and that no authorization for validation is required. It is not possible to unvalidate alleles. Use only for testing.</p>
<p>Example: <code>https://forensic.ugent.be/flax/getid/plain/FGA/ACTGACTAGACATGCGAC</code></p>
<p>
  For testing purposes of FLAD, you can experiment with sequences in the <a href="https://github.com/beukueb/myflq/blob/master/src/alleles/myflqpaper_alleles.csv">MyFLq paper allele database file</a>. These sequences are already in FLAD and have therefore already been assigned FLAD IDs.
</p>
{% endblock %}




