{% extends "flad/base.html" %}
{% load staticfiles %}

{% block fladcontent %}
{% if allele.getsequence %}
 {% if allele.fladid %}
 <h1> FLAD entry </h1>
 <h3 style="margin-bottom:0px;">{{ allele.getfladid }}</h3>
 {% if allele.locus %}<p>Locus: {{ allele.locus }}</p>{% endif %}
 <code style="max-width:80em;word-wrap:break-word;">{{ allele.getsequence }}</code>
 <p>Complementary strand:<p>
  <code style="max-width:80em;word-wrap:break-word;">{{ allele.getcomplement }}</code>

  {% if allele.doi %}
  <p><br />
    Validation publication doi: {{ allele.doi }}
  </p>
  {% endif %}
  
 {% else %}
 <p>Not yet entered in the database:</p>
 {% if allele.locus %}<p>Locus = {{ allele.locus }}</p>{% endif %}
 <code style="max-width:80em;word-wrap:break-word;">{{ allele.getsequence }}</code>
 {% endif %}
{% elif allele.unknown %}
 <p>There is no sequence entry for: <span style="color:red;">{{ allele.fladid }}</span></p>
{% endif %}
<br /><br />
{% endblock %}

{% block flatquery %}New query{% endblock %}
