{% extends "base.html" %}
{% load staticfiles %}

{% block title %}FLAD{% endblock %}

{% block header %}
<div id="header-title" style="background-image: url('{% static 'images/FLADLogo.png' %}');background-position: 25px 25px;background-size: 90px;">
  <h1>Forensic Loci Allele Database</h1>
  <h2>Permanent references for forensic STR and SNP alleles</h2>
</div>
{% endblock %}

{% block content %}
 {% block fladcontent %}
 {% endblock %}

{% block flatquery %}
<h3>Testing FLAD</h3>
<p>
  On this page, and with the corresponding API where you only have to replace 'flad' with 'flax', you can
  submit allele sequences for testing and development.<br />
  The testing references start with 'T' instead of 'F'.
</p>
{% endblock %}

<table>
  <tr><td colspan="2" style="color: #50ade5;">Retrieve sequence</td></tr>
  <tr>
    <td>FLADid</td><td><input type="text" id="input_fladid" /></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Retrieve" style="width:11em;" onclick="window.location = window.location.origin + '/flax/getseq/' + document.getElementById('input_fladid').value;" /></td>
  </tr>
  <tr height="20px;"></tr>
  <tr><td colspan="3" style="color: #50ade5;">Retrieve TESTid</tr>
    <tr>
    <td>Locus</td><td><input type="text" id="input_locus" /></td>
  </tr>
  <tr>
    <td>Sequence</td><td><input type="text" id="input_sequence" /></td>
  </tr>
  <tr>
    <td>DOI (validate)</td><td><input type="text" id="input_doi" /></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Retrieve" style="width:11em;"  onclick="window.location = window.location.origin + '/flax/getid/' + (document.getElementById('input_doi').value ? 'validate/':'') + document.getElementById('input_locus').value + (document.getElementById('input_locus').value ? '/':'')  + document.getElementById('input_sequence').value + (document.getElementById('input_doi').value ? ('?doi='+document.getElementById('input_doi').value):'');" /></td>
  </tr>
</table>

{% endblock %}
