<!DOCTYPE HTML>

{% load staticfiles %}

<html lang="en">
  <head>
    <title>{% block title %}MyFLsite{% endblock %}</title>
    <meta name="author" content="Christophe Van Neste"/>
    <meta name="description" content="A web app to determine a forensic DNA profile"/>
    <link rel="stylesheet" type="text/css" href="{% block cssfile %} {% static 'css/MyFLsite.css' %} {% endblock %}">
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="page">
        {% block page %}
            <div id="header">
                {% block header %}
                    <div id="header-title">
		      <h1>RMNE</h1>
		      <h2>Calculate RMNE values for a variable number of dropout</h2>
		    </div>
                {% endblock %}
                {% block logging %}
 <!--Commented out for 'RMNE only' fork                   {% if user.is_authenticated %}
                        {% include "registration/logout.html" %}
                    {% else %}
                        {% include "registration/login.html" with next="/myflq" %}
                    {% endif %}-->
                {% endblock logging %}
            </div>
            <div id="navigation">
                {% block navigation %}
                    {% include "rmne/navigation.html" %}
                {% endblock %}    
            </div>   
            <div id="content">
                {% block content %}
                    <h1>Content</h1>
                {% endblock %}    
            </div>       
            <div id="footer">
                {% block footer %}
                    Developed by LabFBT, Ghent University, Belgium.
                {% endblock %}    
            </div>   
        {% endblock %}    
    </div>
  </body>
</html>
