{% extends "rmne/base.html" %}
{% load staticfiles %}

{% block title %}RMNE help{% endblock %}

{% block content %}

<h1>Input File Requirements</h1>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">#Locus name</th>
    <th class="tg-031e">Allele number</th>
    <th class="tg-031e">Allele Frequency</th>
    <th class="tg-031e">Observed?</th>
  </tr>
  <tr>
    <td class="tg-031e">vWA</td>
    <td class="tg-031e">11<br></td>
    <td class="tg-031e">0.2</td>
    <td class="tg-031e">1</td>
  </tr>
  <tr>
    <td class="tg-031e">vWA</td>
    <td class="tg-031e">12</td>
    <td class="tg-031e">0.2</td>
    <td class="tg-031e">x</td>
  </tr>
  <tr>
    <td class="tg-031e">vWA</td>
    <td class="tg-031e">13</td>
    <td class="tg-031e">0.6</td>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-031e">FGA</td>
    <td class="tg-031e">13</td>
    <td class="tg-031e">0.3</td>
    <td class="tg-031e">xx</td>
  </tr>
  <tr>
    <td class="tg-031e">FGA</td>
    <td class="tg-031e">14</td>
    <td class="tg-031e">0.2</td>
    <td class="tg-031e">o</td>
  </tr>
  <tr>
    <td class="tg-031e">FGA</td>
    <td class="tg-031e">15</td>
    <td class="tg-031e">0.5</td>
    <td class="tg-031e"></td>
  </tr>
</table>

<p>The input file has to be a comma-separated values text file (csv file). So the information in the table above should be formatted like:
<br /><br />
<code>
#Locus name,Allele number,Allele Frequency,Observed?<br />
vWA,11,0.2,1<br />
vWA,12,0.2,x<br />
vWA,13,0.6,<br /> 
FGA,13,0.3,1<br />
FGA,14,0.2,x<br />
FGA,15,0.5, <br />
</code>
</p>

<ul>
<li>The header row is not necessary. If one is used in the file, make sure that it starts with a "#"</li>
<li>All observed AND non-nobserved alleles and their corresponding fequencies need to be in the file</li>
<li>The locus name can be anything</li>
<li>The allele number can be anything</li>
<li>The allele frequency has to be a number between 0 an 1</li>
<li>Any character can be used to mark the allele as observed</li>

</ul>

<p>Download <a href="{% static 'rmne/exampleInput.csv' %}">example file</a></p>
{% endblock %}
