/*
 * Body
 */

body {
    margin: 0;
    padding: 0;
}

/*
 *Different div's:
 *
 * Page
 */

#page {
    position: relative; /*In order to position child divs absolutely to this one*/
    margin-left: auto;
    margin-right: auto;
    /*width: 980px;*/
    min-width: 600px;
    max-width: 980px;
}
 
/*
 * Header
 */
 
#header {
    position: relative;
    height: 120px;
    margin-top: 20px;
    padding: 0;
    display: block;
    min-width: inherit;
    font-size: 12px;
}

#header h1,h2 {
    font-family: "Courier New", Courier, monospace;
}

#header-title {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: calc(100% - 180px);/*-165px for bg image padding*/
    height: 120px;
    background-color: #fcf8f9;/*Previous colors: #f3f9fd;*/
    box-shadow: 10px 10px 5px #888888;
    background-image: url('../images/MyFLqLogo_s.png');
    background-repeat: no-repeat;
    background-size: 150px;
    padding-left: 165px;
    padding-top: 17px;
}

#logform {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 0;
    width: 150px;/*width: 18%;*/
    height: 120px;
    background-color: #fcf8f9;
    box-shadow: 10px 10px 5px #888888;
    padding-left: 10px;
}

/*
 * Navigation
 */
#navigation {
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #fcf8f9;
}

#navigation ul li {
    display: inline-block; 
    padding: 3px 10px 0 0; 
    list-style-type: none;
    list-style-image: none;
}

#navigation a {
    display: inline-block;
    width: 110px;
    text-align: center;
    text-decoration: None;
    font-weight: bold;
}

#navigation a:hover {
    border-radius: 3px;
    background-color: #50ade5;
    color:#900;
    /*animation: bgimgtrans 5s;*/
}



/*
 * Content
 */
 
#content {
    position: relative;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 2px;
    width: 100%;
    min-height:200px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #fcf8f9;
}

#contentmain {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 250px - 20px);
    text-align: justify;
    vertical-align: top;
    padding-right: 10px;
}

#contentwidgets {
    display: inline-block;
    padding: 0;
    width: 250px;
    text-align: justify;
    font-size:12px;
}

#contentwidgets img {
    margin-top: 25px;
}

/*
 * Footer
 */
 
#footer {
    margin-top: 20px;
    font-size: 12px;
}

/*
 * Errors and help
 */
.errorlist {
    color: red;
}

.helptext {
    display: none;
}

.helponhover:hover~.helptext {
    display: block;
    position: absolute;
    background: rgba(255,255,255,.92);/*white;*/
     /*With thanks to Bart for choosing appropriate transparancy level*/
    border-style: dotted;
    font-size: smaller;
    text-align: justify;
    width: 300px;
    padding: 5px;
    z-index: 10;

}

/*
 * Housestyle
 */
body {
    font-family: Verdana, Geneva, sans-serif;
                /*"Trebuchet MS", Helvetica, sans-serif;*/
    /*font-size:12px;*/
}

h1,h2,h3 {
    color: #393536;
}

h1 {
    font-family: "Courier New", Courier, monospace;
}

h1+h2 {
    margin-top: inherit;
}

h2 {
    margin-top: 40px;
}

a {
    color: #50ade5;
}