{% if next != '/' %}
 {% include 'base.html' with contentLogin=next %}
{% endif %}

{% if nested %}
 <p>
   This action requires authorization. <br />
   Registration and/or login is necessary.
 </p>
{% endif %}

{% if next == '/' %}
<div {% if not nested %}id="logform"{% endif %}>
{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}

{# normally action should be '.' for security #}
<form action='/accounts/login/' method='post'>
  {% csrf_token %}
  <label for="username">User name:</label>
  <input type="text" name="username" value="" id="username" size="15" style="width:100px;">
  <label for="password">Password:</label>
  <input type="password" name="password" value="" id="password" size="15" style="width:100px;">

  <input type="submit" value="login" /> (<a href="/register">register</a>)
  {% if nested %}
   <input type="hidden" name="next" value="{{ nested|escape }}" />
  {% else %}
   <input type="hidden" name="next" value="{{ next|escape }}" />
  {% endif %}
</form>

</div>
{% endif %}

