{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block logging %}{% endblock %}

{% block content %}
<h1>Create an account</h1>
<form action="." method="post">
  {% csrf_token %}
  {% if form.errors %}
    <p class="error">Please correct the errors below.</p>
  {% endif %}
  <table>
    <tbody>
      <tr>
        <td><label for="id_username">Username (*):</label></td>
        <td>
          {{ form.username }}
          {% if form.errors.username %}
            {{ form.errors.username }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><label for="id_password1">Password (*):</label></td>
        <td>
          {{ form.password1 }}
          {% if form.errors.password1 %}
            {{ form.errors.password1 }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><label for="id_password2">Password (again)(*):</label></td>
        <td>
          {{ form.password2 }}
          {% if form.errors.password2 %}
            {{ form.errors.password2 }}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <table style="text-align:left;">
    {{ pform.as_table }}
  </table>
  <input type="submit" value="Create the account" />
  <p>
    (*): Required items.<br />
    If you are requesting FLAD validation
    all items should be filled in and the email domain should be from
    the institute/lab for which the validation is requested, as you
    will be contacted on this email to authorize your validation privileges.
  </p>
 {% endblock %}
 
