{% extends "base.html" %}

{% block title %}MyFLq app{% endblock %}

{% block content %}
<h1> MyFLq </h1>
<h2>Workflow</h2>
<ol>
  <li>
    Configure general (loci/alleles) specifications in <a href="/myflq/setup">Setup</a>
    <ul>
      <li>Make a different configuration if the analysis needs different loci/alleles from previous analyses</li>
      <li>Upload a file in the correct format for the loci configuration</li>
      <li>Add the allele databank for the analysis by uploading a file in the correct format</li>
      <li>submit the settings</li>
    </ul>
  </li>
  <li>
    Choose a file to analyze and appropriate parameters in <a href="/myflq/analysis">Analysis</a>
    <ul>
      <li>After submitting the analysis request, it will show its progress state</li>
    </ul>
  </li>
  <li>
    Retrieve the outcome in  <a href="/myflq/results">Results</a>
    <ul>
      <li>Select the analysis for which you want to visualize results</li>
    </ul>
  </li>
</ol>

<h2>BaseSpace</h2>
BaseSpace users that want to use forensic.UGent.be for custom loci and alleles csv file, need to make a configuration in  <a href="/myflq/setup">Setup</a> as outlined above. 
<br />
When the configuration is uploaded, you can right-click and copy the url-address respectively for the loci file and the allele file, and paste it in the appropriate textbox on the BaseSpace MyFLq analysis launch page.

<h2>Help</h2>
For extensive help and a step-by-step tutorial, follow the link <a href="https://github.com/beukueb/myflq#workflow-for-forensicugent-or-a-local-myflq-installation">here</a>.<br />
The menu bar help, will pop up a new window.<br />
Use it during your workflow to not interrupt it.
{% endblock %}
