{% extends "base_ajax.html" %}
{% load staticfiles %}

{% block content %}
<h1> Profile </h1>

<p>
  Analysis => <a href="/myflq/results/view/{{ profile.analysis_id }}/">result</a><br />
  Profile threshold => {{ profile.threshold }}%
</p>

{% if profileError %}
<p>
  {{ profileError }}
</p>
{% endif %}

<table>
{% for locus in profile.as_table %}
<tr>
  {% for allele in locus  %}
    {% if forloop.first %}
    <td style="color:#50ade5;">
    {% else %}
    <td> 
    {% endif %}
    {{ allele }}
  </td>
  {% endfor %}
</tr>
{% endfor %}
</table>

<hr />
{% if profile.isValid %}
 {% if profile.analysis.configuration.populationdb and not profile.analysis.flankOut %}
<script>
  var inProcess = false;
  function toggleDatabase() {
    if (inProcess != true) {
      inProcess = true;
      $.getJSON('.',function(data) {
        $('#toggleDB').text(($('#toggleDB').text()=='Add to population database')?'Remove from population database':'Add to population database');
        inProcess = false;
      });
    }
  }
</script>
 {% if profile.inAlleleDatabase %}
   <button id="toggleDB" onclick="toggleDatabase();">Remove from population database</button>
 {% else %}
   <button id="toggleDB" onclick="toggleDatabase();">Add to population database</button>
 {% endif %}
 {% endif %}
<script>
  function calcRMNE() {
   alert('RMNE functionality not yet active. Let us know if you require this functionality urgently.');
  }
</script>     
<button onclick="calcRMNE();">Calculate RMNE</button>
{% if profile.analysis.configuration.populationdb %}
<p>
  As the configuration with which this profile was obtained, is meant to build up a population database, it is advised to use the RMNE values only for testing, and not for reporting externally.
</p>
{% endif %}
{% else %}
<p>
  This profile contains non validated alleles.<br />
  It cannot be added to a population database. RMNE values cannot be calculated.
</p>
{% endif %}

{% endblock %}




