{% extends "base_ajax.html" %}

{% block content %}
<h1> Setup loci and alleles </h1>

{% if userdbs %}
<script>
  function confirmDelete() {
   var agree=confirm("Are you sure you want to delete?");
   if (agree) return true ;
   else return false ;
  }
</script>

<h2>Available configurations</h2>
<table>
  <tr><td style="border-right:solid;border-bottom:solid;">Name</td><td colspan="2" style="border-bottom:solid;">Associated files</td><td></td></tr>
    {% for database in userdbs %}
    <tr>
        <form action='.' method='post' onsubmit="return confirmDelete()">
            {% csrf_token %}
            <input type="hidden" name="submitaction" value="deletedb" />
            <input type="hidden" name="dbname" value="{{ database.dbname }}" />
            <td style="border-right:solid;">{{ database.dbname }}</td>
	    <td><a href="{{ database.lociFile.url }}">Loci</a></td>
	    <td><a href="{{ database.alleleFile.url }}">Alleles</a></td>
            <td><input type="submit" value="Delete" name="deletedb" /></td>
        </form>
    </td></tr>
    {% endfor %}
</table><br />

<hr />
{% endif %}

{% if configFilesError %}
<h2>Warning</h2>
Something is not right with the supplied config files:<br />
{{ configFilesError }}
<br>Fix the files, and upload them again.
{% endif %}

<h2>Create a new configuration</h2>
    <form class="setupForm" action='.' enctype="multipart/form-data" method='post'>
      <style>
	#content > form > p:nth-child(5) > label {
	display: block;
	}
      </style>
      <script>
	$(document).ready(function() {$(".setupForm label").addClass("helponhover")})
      </script>
        {% csrf_token %}
	{{ configForm.as_p }}

	<br />
        <input type="hidden" name="submitaction" value="createconfig" />
        <input type="submit" value="Create configuration" />
    </form>

<p>
Once you have created a configuration you cannot alter it unless you delete it and start over.<br />
If you delete a configuration, all results that were procured with that configuration will be deleted as well.
This is for validation purposes: you can always trace back which configuration you used to obtain a specific result.
</p>
{% endblock %}
